/* body selector */
body {
    background-color: #FFFFFF;
    color: #555555;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header selector */
header {
    background-color: #002171;
    background-image: url("images/sunset.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: #FFFFFF;
    height: 120px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

/* nav selector */
nav {
    background-color: #BBDEFB;
    padding: 10px;
}

/* nav ul selector */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* nav li selector */
nav li {
    display: inline;
    margin-right: 20px;
}

/* nav a selector */
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #002171;
}

/* nav a:hover selector */
nav a:hover {
    color: #1976D2;
}

/* h1 selector */
h1 {
    margin-bottom: 0;
}

/* h2 selector */
h2 {
    color: #1976D2;
}

/* dt selector */
dt {
    color: #002171;
}

/* address selector */
address {
    font-style: normal;
}

/* resort class selector */
.resort {
    color: #1976D2;
}

/* main selector */
main {
    padding: 20px;
}

/* Font Awesome list */
.fa-ul {
    margin-left: 2em;
}