/* body selector */
body {
    background-color: #FFF;
    color: #555;
}

/* header selector */
header {
    background-color: #002171;
    color: #FFF;
}

/* nav selector */
nav {
    background-color: #BBDEFB;
}

/* h1 selector */
h1 {
    margin-bottom: 0;
}

/* h2 selector */
h2 {
    color: #1976D2;
}

/* dt selector */
dt {
    color: #002171;
}

/* address selector */
address {
    font-style: normal;
}

/* resort class selector */
.resort {
    color: #1976D2;
}